!*.gitignore

!*.c
!*.h

!*.cpp

!*.py

!*.sh

!Script/Makefile

Makefile

!*/

build/

.vs/
.idea/
.vscode/

Testing/
CTestTestfile.cmake

cmake_install.cmake
DartConfiguration.tcl

CPackSourceConfig.cmake
CPackConfig.cmake

CMakeFiles/

out/

*.exe
