[submodule "LaTeXTemplate"]
	path = LaTeXTemplate
	url = https://github.com/Kagurazaka-Chiaki/LaTeXTemplate.git

[submodule "Notes/GameDevNote"]
	path = Notes/GameDevNote
	url = https://github.com/Kagurazaka-Chiaki/GameDevNote.git
	
[submodule "Notes/EngineFeatureNote"]
	path = Notes/EngineFeatureNote
	url = https://github.com/Kagurazaka-Chiaki/EngineFeatureNote
[submodule "Knowledge"]
	path = Knowledge
	url = https://github.com/Kagurazaka-Chiaki/Knowledge.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "Algorithm/zeta-algo01"]
	path = Algorithm/zeta-algo01
	url = https://github.com/Kagurazaka-Chiaki/zeta-algo01
[submodule "Agent/iota-agnt01"]
	path = Agent/iota-agnt01
	url = https://github.com/Kagurazaka-Chiaki/iota-agnt01
