!*/

!*.gitignore

# Editor files #
################
.vs/
.idea/
.vscode/

# Source files #
################
!*.c
!*.h
!*.cpp
!*.py
!*.sh

#  Cmake Output #
#################
cmake-build-debug

build/

Testing/
CTestTestfile.cmake

cmake_install.cmake
DartConfiguration.tcl

CPackSourceConfig.cmake
CPackConfig.cmake
CMakeCache.txt

CMakeFiles/

out/

# Compiled Source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Special #
###########
!Script/Makefile
!Makefile

# Linux Build #
###############

linuxbuild/
