!*/

!*.gitignore

# Editor files #
################
.vs/
.idea/
.vscode/

# Source files #
################
!*.c
!*.h
!*.cpp
!*.hpp
!*.py
!*.sh


#  Rust Target #
#################
*.lock
target/


#  CMake Output #
#################
cmake-build-debug
cmake-build-debug-msvc
cmake-build-debug-msys
cmake-build-debug-linux
cmake-build-debug-remote

build/

Testing/
CTestTestfile.cmake

cmake_install.cmake
DartConfiguration.tcl

CPackSourceConfig.cmake
CPackConfig.cmake
CMakeCache.txt

CMakeFiles/

out/

# Cache #
#########
.cache/


# Compiled Source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Special #
###########
!Script/Makefile
!Makefile

# Linux Build #
###############
linuxbuild/

a.out


# Vcpkg #
#########
vcpkg_installed/